<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <br>
            <div class="content">
                <!-- toDateString() turns the date into (dayOfWeek month day year) -->
                <span><%= blog.created.toDateString() %></span>
            </div>
            <br>
            <div class="description">
                    <p><%= blog.body %></p>
            </div>
            <br>
            <a class="ui basic orange button" href="/blogs/<%= blog._id %>/edit">edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">DELETE</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>